<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>rdtool</title>
    <!-- <link rel="shortcut icon" type="image/vnd.microsfot.icon" href="{{site.url}}/favicon.ico"> -->
    <!-- <link rel="icon" href="{{site.url}}/favicon.png" type="image/png"> -->
    <link rel="stylesheet" href="/css/rdtool.css" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <div id="main">
      <h1 class="title">
        <span class="description">{{ page.title}}</span>
      </h1>
      {{ content }}
      </div>
    </div>
  </body>
</html>
